<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.payan.app"
    version   = "1.0.1">

<name>App</name>

<description>
App para payan.no-ip.org
</description>

<author href="https://payan.no-ip.org" email="rene@payan.no-ip.org">
Rene Payan Tellez
</author>
<access origin="*" />
<icon src="icon.png" />
</widget>
