<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    	xmlns:gap = "http://phonegap.com/ns/1.0"
    	id        = "com.payan.app"
    	version   = "2.8">
    	<name>App</name>
    	<description>App para payan.no-ip.org</description>
    	<author href="https://payan.no-ip.org" email="rene@payan.no-ip.org">Rene Payan Tellez</author>
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="VideoPlayer" value="com.phonegap.plugins.video.VideoPlayer"/>    
	<access origin="*"/>
	<feature name="http://api.phonegap.com/1.0/network" />
	<allow-intent href="http://*/*/*/*" />
	<allow-intent href="https://*/*/*/*" />
	<allow-intent href="https://payan.no-ip.org/*/*/*" />
	<allow-intent href="*://*.payan.no-ip.org/*" />
	<gap:platforms>
	        <gap:platform name="android"/>
	        <gap:platform name="webos"/>
        	<gap:platform name="symbian.wrt"/>
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	<preference name="android-minSdkVersion" value="8" />
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<allow-intent href="*" />
	<icon src="icon.png" />
	<splash src="icon.png"/>
	
</widget>
